<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>

</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>http配置项</legend>
				</fieldset>


				<table class="layui-table">
					<thead>
						<tr>
							<th>项</th>
							<th>值</th>
							<th>说明</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>gzip</td>
							<td>${http.gzip}</td>
							<td>开启gzip压缩</td>
							<td>
								<button class="layui-btn layui-btn-sm" onclick="edit('gzip','${http.gzip}')">编辑</button>
							</td>
						</tr>
						
						<tr>
							<td>clientMaxBodySize</td>
							<td>${http.clientMaxBodySize}</td>
							<td>最大上传文件尺寸</td>
							<td>
								<button class="layui-btn layui-btn-sm" onclick="edit('clientMaxBodySize','${http.clientMaxBodySize}')">编辑</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div style="height: 0px; width: 0px; overflow: hidden;">
		<!-- 弹出框 -->
		<div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
			<form id="addForm">
				<input type="hidden" name="name" id="name">

				<div class="layui-form-item">
					<label class="layui-form-label" id="nameDiv"></label>
					<div class="layui-input-block">
						<input type="text" name="value" id="value" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<button type="button" class="layui-btn layui-btn-normal" onclick="addOver()">提交</button>
					<button type="button" class="layui-btn" onclick="layer.closeAll()">关闭</button>
				</div>
			</form>
		</div>

	</div>


	<script src="${ctx}/js/adminPage/http/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</html>