<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">

			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">
					<span style="color: aqua;" id="localType">
					</span>
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="${ctx}/adminPage/monitor"><@spring.message code="menuStr.monitor"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/basic"><@spring.message code="menuStr.basic"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/http"><@spring.message code="menuStr.http"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/stream"><@spring.message code="menuStr.stream"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/server"><@spring.message code="menuStr.server"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/upstream"><@spring.message code="menuStr.upstream"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/template"><@spring.message code="menuStr.template"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/www"><@spring.message code="menuStr.www"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/cert"><@spring.message code="menuStr.cert"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/conf"><@spring.message code="menuStr.conf"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/bak"><@spring.message code="menuStr.bak"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/log"><@spring.message code="menuStr.log"/></a>
					</dd>
					
					<dd>
						<a href="${ctx}/adminPage/admin"><@spring.message code="menuStr.admin"/></a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/export"><@spring.message code="menuStr.export"/></a>
					</dd>
				</dl>
			</li>
			
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">
					<span style="color: aqua;"><@spring.message code="menuStr.remoteTitle"/></span>
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="${ctx}/adminPage/remote"><@spring.message code="menuStr.remote"/></a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
