<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">

			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">
					<span style="color: aqua;">系统管理</span>
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="${ctx}/adminPage/http">http管理</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/server">server管理</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var url = location.pathname + location.search;
		$("a[href='" + ctx + url.substr(1) + "']").parent().addClass("layui-this");
	})
</script>