<!DOCTYPE HTML>
<html>
<head>
<#include '/mobilePage/common/common.html'/>
<link href="${ctx}/css/mobilePage/main.css" rel="stylesheet" />

</head>
<body>
	<div class="main">
		<div class="title">${projectName}</div>
		<div class="hold"></div>
		<div class="user">
			<div class="name_div">
				<input type="hidden" id="userId" value="${loginUser.id}">
				<div class="name">用户：${loginUser.name}</div>
				<div class="level">电话： ${loginUser.phone}</div>
			</div>

			<div class="set_btn" onclick="loginOut()">退出登录</div>

		</div>


		<div class="menu">
			<div class="item" onclick="gohref('${ctx}/kpi')">
				<img class="item_icon" src="${ctx}/img/easyicon/1237013.png">
				<div class="item_name">功能1</div>
			</div>
			<div class="item" onclick="gohref('${ctx}/sign')">
				<img class="item_icon" src="${ctx}/img/easyicon/1237016.png">
				<div class="item_name">功能2</div>
			</div>

			<div class="item" onclick="gohref('${ctx}/vacation')">
				<img class="item_icon" src="${ctx}/img/easyicon/1237023.png">
				<div class="item_name">功能3</div>
			</div>

			<div class="clear"></div>
		</div>

	</div>


	<script src="${ctx}/js/mobilePage/main.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>
